body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #faf7f2;
    color: #3b302c;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 60px;
    background-color: #f5ede6;
}

.logo {
    font-size: 28px;
    font-weight: bold;
    letter-spacing: 3px;
    color: #3b302c
}

nav {
    display: flex;
    gap: 35px;
}

nav a{
    text-decoration: none;
    color: #3b302c;
    font-size: 14px;
    font-weight: 500;
    transition: color 0.3s;
}

nav a:hover {
    color: #b88978;
}
